@model WorkTimeTracker.MVC.Models.CreateForEmployees

@{
    ViewData["Title"] = "CreateForEmployees";
}

<h1>CreateForEmployees</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateForEmployees">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="EmployeeId" class="form-control" type="hidden" />
            <input asp-for="ActionTime" class="form-control" type="hidden" />

            @string.Concat(Model.ActionTime.ToString("dd/MM/yyyy HH:mm"))

            <div class="form-group my-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="IsWork" value="true" type="radio" id="work" />
                    <label class="form-check-label" for="work">Work</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="IsWork" value="false" type="radio" id="break" />
                    <label class="form-check-label" for="break">Break</label>
                </div>
            </div>

            <div class="form-group mb-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="IsStart" value="true" type="radio" id="start" />
                    <label class="form-check-label" for="start">Start</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="IsStart" value="false" type="radio" id="end" />
                    <label class="form-check-label" for="end">End</label>
                </div>
            </div>

            <div class="form-group mb-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
