@{
    ViewData["Title"] = "Work Time";
}
<h1>@ViewData["Title"]</h1>

<p>Work time</p>

<div>
@*     <partial name="_CreateFormForEmployees"
             model="new CreateActionTimeCommand() { EmployeeId = Model.EmployeeId, Start = Model.PlannedWorkStart, End = Model.PlannedWorkEnd, IsWork = true }" />
 *@
</div>
